.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
}
.item2 {
  grid-column: 2/-1;
  grid-row: 1/3;
}

/* 
grid-template-columns: 100px 100px 100px;은 100px짜리 3개를 만든다. 
-> repeat(3, 100px), repeat(3, 20%), repeat(5, 1fr)와 같이 쓸수 있음
grid-template-rows 행의 간격을 조정함(각 컬럼의 아이템 크기가 다른경우 최소높이는 150px로 하고 자동으로 

display: grid하면 그리드 박스를 사용하는데 부모 컨테이너를 grid 지정하면 자식은 grid cell이 된다.
grid 속성은 grid-template-columns, grid-template-rows, grid-template-areas
grid cell 속성은 grid-column-start, grid-column-end, grid-row-start, grid-row-end, grid-area

grid-column: 2/4; 2번에서 4번까지 가로로 자리차지
grid-row: 1/3; 1번에서 3번까지 세로로 자리차지
*/
